version: '3.8'

services:
  node-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tv-assessment-local
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always