name: CI Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4 # Uses a reusable action to get the code
      - name: Run a one-line script
        run: echo "Hello, world! This job is running on ${{ runner.os }}"
      - name: List files in the repository
        run: ls -F
